{
 "transactions_per_block" : 40,

 "transaction_signer" : "tnman",

 "transaction_source" :
 {
  "node" : "https://api.steemit.com",
  "appbase" : "True"
 },

 "min_block_number" : "0",
 "max_block_number" : "0",

 "ported_operations" :
 [
  {"type":"account_create_operation","roles":["active"]},
  {"type":"account_create_with_delegation_operation","roles":["active"]},
  {"type":"account_update_operation","roles":["active"]},
  {"type":"account_witness_proxy_operation","roles":["active"]},
  {"type":"account_witness_vote_operation","roles":["active"]},
  {"type":"cancel_transfer_from_savings_operation","roles":["active"]},
  {"type":"challenge_authority_operation","roles":["active"]},
  {"type":"change_recovery_account_operation","roles":["active"]},
  {"type":"claim_reward_balance_operation","roles":["posting"]},
  {"type":"comment_operation","roles":["posting"]},
  {"type":"comment_options_operation","roles":["posting"]},
  {"type":"convert_operation","roles":["active"]},
  {"type":"custom_binary_operation","roles":["active","posting"]},
  {"type":"custom_json_operation","roles":["active","posting"]},
  {"type":"custom_operation","roles":["active","posting"]},
  {"type":"delegate_vesting_shares_operation","roles":["active"]},
  {"type":"delete_comment_operation","roles":["posting"]},
  {"type":"escrow_approve_operation","roles":["active"]},
  {"type":"escrow_dispute_operation","roles":["active"]},
  {"type":"escrow_release_operation","roles":["active"]},
  {"type":"escrow_transfer_operation","roles":["active"]},
  {"type":"feed_publish_operation","roles":["active"]},
  {"type":"limit_order_cancel_operation","roles":["active"]},
  {"type":"limit_order_create2_operation","roles":["active"]},
  {"type":"limit_order_create_operation","roles":["active"]},
  {"type":"price_operation","roles":["active"]},
  {"type":"prove_authority_operation","roles":["active"]},
  {"type":"recover_account_operation","roles":["active"]},
  {"type":"report_over_production_operation","roles":["active"]},
  {"type":"request_account_recovery_operation","roles":["active"]},
  {"type":"reset_account_operation","roles":["active"]},
  {"type":"set_reset_account_operation","roles":["active"]},
  {"type":"set_withdraw_vesting_route_operation","roles":["active"]},
  {"type":"transfer_from_savings_operation","roles":["active"]},
  {"type":"transfer_operation","roles":["active"]},
  {"type":"transfer_to_savings_operation","roles":["active"]},
  {"type":"transfer_to_vesting_operation","roles":["active"]},
  {"type":"vote_operation","roles":["posting"]},
  {"type":"withdraw_vesting_operation","roles":["active"]},
  {"type":"witness_update_operation","roles":["active"]}
 ]
}
