{
 "transactions_per_block" : 40,

 "snapshot_file" : "snapshot.json",

 "start_time" : "2018-01-24T12:00:00",

 "min_vesting_per_account" : {"amount" : "1", "precision" : 3, "nia" : "@@000000021"},
 "total_port_balance" : {"amount" : "200000000000", "precision" : 3, "nia" : "@@000000021"},

 "accounts" :
 {
  "initminer" :
  {
   "name" : "initminer",
   "vesting" : {"amount" : "1000000", "precision" : 3, "nia" : "@@000000021"}
  },

  "init" :
  {
   "name" : "init-{index}",
   "vesting" : {"amount" : "1000000", "precision" : 3, "nia" : "@@000000021"},
   "count" : 21,
   "creator" : "initminer"
  },

  "elector" :
  {
   "name" : "elect-{index}",
   "vesting" : {"amount" : "1000000000", "precision" : 3, "nia" : "@@000000021"},
   "count" : 10,
   "round_robin_votes_per_elector" : 2,
   "random_votes_per_elector" : 3,
   "randseed" : 1234,
   "creator" : "initminer"
  },

  "porter" :
  {
   "name" : "porter",
   "creator" : "initminer",
   "vesting" : {"amount" : "1000000", "precision" : 3, "nia" : "@@000000021"}
  },

  "manager" :
  {
   "name" : "tnman",
   "creator" : "initminer",
   "vesting" : {"amount" : "1000000", "precision" : 3, "nia" : "@@000000021"}
  },

  "STEEM_MINER_ACCOUNT" :
  {
   "name" : "miners"
  },

  "STEEM_NULL_ACCOUNT" :
  {
   "name" : "null"
  },

  "STEEM_TEMP_ACCOUNT" :
  {
   "name" : "temp"
  }
 }
}