<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Account Create</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{ message[1] }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      
      <div class="row">
        
        <h3>Account Create</h3>
        
        <form action="" method="post">
          {{ form.csrf }}
        
          <div class="input text">
            {{ form.new_account_name.label }} {{ form.new_account_name }}
          </div>
     
          <div class="input submit">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
